/* Color palette */

$purple: #a497ff;
$purple-light: #dcd7ff;
$purple-gray: #a4ade6;

$cyan: #36e0db;
$cyan-light: #b0d9d8;

$black: #35384a;
$gray: #5b6077;
$white: #f7f7f7;

/* Color aliases */

$primary-color: $purple;
$primary-color-light: $purple-light;
$primary-color-placeholder: $purple-gray;
$primary-color-text: $white;
