/* Sass imports */

@use 'sass:color';
@use 'reset';
@use 'variables';
@use 'typography';

/* Layout styles */

.container {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

/* Typography styles */

h1 {
  @extend .font-heading;

  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  @extend .font-subheading;

  font-size: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 1em;
}

.inputLine {
  white-space: nowrap;
}

a i.fas.fa-check {
  line-height: 0.8em;
  vertical-align: middle;
}

i.fas.fa-circle-notch {
  margin-right: 0.5em;
}

.links {
  padding-top: 2em;
}

/* Layout styles */

.selectGroup {
  background-color: variables.$gray;
  border-color: variables.$primary-color-text;
  border-radius: 0.2em;
  border-style: solid;
  border-width: 0.1em;
  box-shadow: 0.2em 0.3em color.adjust(variables.$black, $lightness: -10%);
  cursor: pointer;
  display: inline-block;
  margin: 0.7em 1.4em 0.7em 0;
  padding: 0.7em 1.7em;
  user-select: none;
}

.selectGroup:hover, .selectGroup:active {
  background-color: variables.$primary-color-light;
  box-shadow: 0.15em 0.2em color.adjust(variables.$black, $lightness: -10%);
  color: variables.$black;
}

.selectGroup.selected {
  background-color: variables.$primary-color;
  box-shadow: 0.15em 0.2em color.adjust(variables.$black, $lightness: -10%);
}

.selectGroup.selected:hover, .selectGroup.selected:active {
  color: variables.$primary-color-text;
}

.selectGroupsLoading {
  margin: 0.7em 0em 0.7em 0em;
}

.groupBgopt#bgopt-default {
  margin-left: 0.2em;
}

#loc-latitude {
  margin-right: 1.2em;
}

.coordinateNotice, .scrobbleNotice {
  color: variables.$primary-color-dull;
  padding: 0 0 0.5em 0;
  font-size: 0.85em;
}
