/* Sass imports */

@import 'reset';
@import 'external';
@import 'variables';
@import 'typography';

/* Universal styles */

body {
  @extend .font-default;
  background-color: $black;
}

/* Layout styles */

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 25vw;
  margin-right: 25vw;
  width: 50vw;
}

.bubbles {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1em;
  margin-left: 15vw;
  margin-right: 75vw;
  width: 10vw;

  img {
    width: 10vw;
    height: 30vw;
    max-width: 10vw;
    max-height: 30vh;
  }
}

/* Typography styles */

h1 {
  @extend .font-heading;
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  @extend .font-subheading;
  font-size: 0.055em;
  padding-top: 0.5em;
  padding-bottom: 1.1em;
}

.userInput {
  @extend .font-default;
  background-color: transparent;
  border-style: none none solid none;
  border-width: 0.1em;
  border-radius: 0px;
  border-color: $white;
  font-size: 1em;
  letter-spacing: 0.015em;
  color: $white;
}

.userInput::placeholder {
  color: $white;
  opacity: 0.3;
}

.links {
  @extend .font-code;
  font-size: 0.055em;
}

.links a:not(:last-of-type) {
  margin-right: 2em;
}

/* Media queries */

// Bootstrap equivalent: medium
@media (min-width: 768px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 0.8em;
  }

  .links {
    font-size: 0.75em;
  }
}

// Bootstrap equivalent: large
@media (min-width: 992px) {
  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 1.15em;
  }

  .links {
    font-size: 0.95em;
  }
}

// Bootstrap equivalent: extra large
@media (min-width: 1200px) {
  h1 {
    font-size: 8em;
  }

  h2 {
    font-size: 1.5em;
  }

  .links {
    font-size: 1.15em;
  }
}

@import 'queries';
