extends template/layout

block otherStylesheets
  link(href='/app/static/stylesheets/config.css', rel='stylesheet')

block content
  .container
    h1= title
    h2 Scrobble Mode
    div.selectGroups
      div.scrobbleNotice Choose whether Descent should display the most recent scrobble or only the currently playing track
      div.selectGroup.groupScrobbleMode#scrobbleMode-lastScrobbled Last Scrobbled
      div.selectGroup.groupScrobbleMode#scrobbleMode-currentlyPlaying Currently Playing
    h2 Background Type
    div.selectGroups
      div.selectGroup.groupBg#bg-artist Artist
      div.selectGroup.groupBg#bg-album Album
      div.selectGroup.groupBg#bg-transparent Transparent
      div.selectGroup.groupBg#bg-none None
    h2 Background Options
    div.selectGroups
      div.selectGroup.groupBgopt#bgopt-blur Blur
      span.inputLine
        small Default image URL:&nbsp;
          input.inputGroup.groupBgopt#bgopt-default(name='defaultBackground', type='text', size='20', maxlength='300', placeholder='None')
          | &nbsp;
          a.backgroundInputSave.hide(href='#' onclick='return false;')
            i.fas.fa-save.fa-sm
            |  save
    h2 Weather Location
    div.selectGroups
      span.inputLine
        small
          div.coordinateNotice Find coordinates by right-clicking a location in Google Maps
          | Latitude:&nbsp;
          input.inputGroup#loc-latitude(name='locationLatitude', type='text', size='12', maxlength='24', placeholder='Automatic')
          | &nbsp;Longitude:&nbsp;
          input.inputGroup#loc-longitude(name='locationLongitude', type='text', size='12', maxlength='24', placeholder='Automatic')
          | &nbsp;
          a.locationInputSave.hide(href='#' onclick='return false;')
            i.fas.fa-save.fa-sm
            |  save
    h2 Weather Units
    div.selectGroups
      div.selectGroup.groupUnits#units-imperial Imperial (ºF)
      div.selectGroup.groupUnits#units-metric Metric (ºC)
    h2 Time and Date Options
    div.selectGroups
      div.selectGroup.groupDatetime#datetime-24hr 24-hour time
      div.selectGroup.groupDatetime#datetime-weekday Show weekday
      div.selectGroup.groupDatetime#datetime-seconds Show seconds
    .links
      a(href='/')
        | home&nbsp;
        i.fas.fa-home.fa-sm
      a(href='/app/hue')
        | hue settings&nbsp;
        i.fas.fa-lightbulb.fa-sm

block otherJavascripts
  script(src='/app/static/javascripts/utility/general.js')
  script(src='/app/static/javascripts/config.js')
