doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable', content='yes')
    title= title
    link(href='/now/static/stylesheets/style.css', rel='stylesheet')
    link(href='/now/static/favicon.ico', rel='icon')
  body
    .container
      h1#title= title
      h2 Weather Units
        div.select-groups
          div.select-group.group-units#select-group-units-imperial Imperial (&deg;F)
          div.select-group.group-units#select-group-units-metric Metric (&deg;C)
      h2 Background
        div.select-groups
          div.select-group.group-bg#select-group-bg-album Album
          div.select-group.group-bg#select-group-bg-artist Artist
          div.select-group.group-bg#select-group-bg-none None
      a(href='/now')
        | [home]
      | 
      a(href='/now/app/hue')
        | [hue settings]
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js')
    script(src='/now/static/javascripts/config.js')
