doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable', content='yes')
    title= title
    meta(name='description', content='Descent is an elegant now playing display for Last.fm showing song metadata and local weather.')
    link(href='/now/app/static/stylesheets/config.css', rel='stylesheet')
    link(href='/now/app/static/images/icons/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/now/app/static/images/icons/favicon-32x32.png', rel='icon', type='image/png', sizes='32x32')
    link(href='/now/app/static/images/icons/favicon-16x16.png', rel='icon', type='image/png', sizes='16x16')
    link(href='/now/app/static/images/icons/site.webmanifest', rel='manifest')
    link(href='/now/app/static/images/icons/safari-pinned-tab.svg', rel='mask-icon', color='#5bbad5')
    link(href='/now/app/static/images/icons/favicon.ico', rel='shortcut icon')
    meta(name='apple-mobile-web-app-title', content='Descent')
    meta(name='application-name', content='Descent')
    meta(name='msapplication-TileColor', content='#35384a')
    meta(name='msapplication-config', content='/now/app/static/images/icons/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')
  body
    .container
      h1= title
      h2
        ol
          li Scanning for Hue Bridges. Select the IP address of your bridge. 
            | If you're not sure which one is right, try the first. Note that 
            | due to restrictions of the Hue API, you must instruct your web 
            | browser to allow loading insecure (HTTP) content on this secure 
            | (HTTPS) domain.
            div.selectGroupsLoading#loading-bridges
              i.fas.fa-circle-notch.fa-spin
              | Loading...
            div.selectGroups#bridges
            span.hide#bridges-error No bridges found. Make sure  you're on the 
              | same network as your bridge.
          li.hide.hueStep#hue-step-button Press the link button on your Hue 
            | Bridge and wait a few seconds to connect.
            div.hide.selectGroupsLoading#select-groups-loading-connect
              i.fas.fa-circle-notch.fa-spin
              | Connecting...
          li.hide.hueStep#hue-step-rooms Connected! Select one or more 
            | rooms to control.
            div.hide.selectGroupsLoading#select-groups-loading-rooms
              i.fas.fa-circle-notch.fa-spin
              | Loading...
            div.selectGroups#select-groups-rooms
          li.hide.hueStep#hue-step-done You're all done! Now, just hit 
            span.code l
            |  on your now playing page to toggle light control on and off.
            | You can come back to this page at any time to update the groups
            | you're using or switch to a different Hue bridge (just start over
            | from step one).
      .links
        a(href='/now')
          | home 
          i.fas.fa-home.fa-sm
        a(href='/now/app/config')
          | settings 
          i.fas.fa-sliders-h.fa-sm
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js')
    script(src='/now/app/static/javascripts/hue.js')
