doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable', content='yes')
    title= title
    link(href='/now/static/stylesheets/style.css', rel='stylesheet')
    link(href='/now/static/favicon.ico', rel='icon')
  body
    .container
      h1#title= title
      h2
        ol
          li Scanning for Hue Bridges. Select the IP address of your bridge. 
            | If you're not sure which one is right, try the first.
            div.select-groups-loading#select-groups-loading-bridges
              i(class='fa fa-circle-o-notch fa-spin')
              |   Loading...
            div.select-groups#select-groups-bridges
            span.hide#select-groups-bridges-error No bridges found. Make sure 
              | you're on the same network as your bridge.
          li.hide.hue-step#hue-step-button Press the link button on your Hue 
            | Bridge and wait a few seconds to connect.
            div.hide.select-groups-loading#select-groups-loading-connect
              i(class='fa fa-circle-o-notch fa-spin')
              |   Connecting...
          li.hide.hue-step#hue-step-rooms Connected! Select one or more 
            | rooms to control.
            div.hide.select-groups-loading#select-groups-loading-rooms
              i(class='fa fa-circle-o-notch fa-spin')
              |   Loading...
            div.select-groups#select-groups-rooms
          li.hide.hue-step#hue-step-done You're all done! Now, just hit 
            span.code l
            |  on your now playing page to toggle light control on and off.
            | You can come back to this page at any time to update the groups
            | you're using or switch to a different Hue bridge (just start over
            | from step one).
      a(href='/now')
        | [home]
      | 
      a(href='/now/app/config')
        | [settings]
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js')
    script(src='/now/static/javascripts/hue.js')
