doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable', content='yes')
    title= title
    link(href='/now/static/stylesheets/style.css', rel='stylesheet')
    link(href='/now/static/favicon.ico', rel='icon')
  body
    #container
      h1#title= title
      form#userInput(method='post')
        h2 My Last.fm username is&nbsp;
          span#userInputGroup
            input#username(name='username', type='text', size='15',
              maxlength='20')
            input(name='defaultUsername', type='hidden', value=`${username}`)
            | &nbsp;
            a(href='#' onclick='submit(); return false;')
              i(class='fa fa-chevron-right')
      a(href='/now/app/config')
        | [settings]
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js')
    script(src='/now/static/javascripts/index.js')
