doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='/now/static/stylesheets/style.css', rel='stylesheet')
    link(href='/now/static/favicon.ico', rel='icon')
  body
    #background(data-nobg=`${nobg}`)
    #mask
    #help
      #credits
        a(href='https://github.com/JasonPuglisi/lastfm-now', target='_blank')
          i(class='fa fa-github')
          | &nbsp;source
        | &nbsp;
        a(href='https://www.reddit.com/r/lastfm/comments/46ax64', target='_blank')
          i(class='fa fa-reddit')
          | &nbsp;discussion
        | <br><br>
      | [f] forecast<br>
      | [e] extended info<br>
      span#hueHelp.hide [l] lights (
        span#hueIndicator off
        | )<br>
      | [h] help
    #weather.hide
      h2#summary
      h1#conditions
        i#icon
        | &nbsp;
        span#temperature
        | &deg;
        span.unit
        | &nbsp;
        span#apparent
          | Feels like&nbsp;
          span#apparentTemperature
          | &deg;
          span.unit
    #music
      h2#userLine.hide
        a#userLink(href=`http://last.fm/user/${user}`, target='_blank')
          i(class='fa fa-lastfm')
          | &nbsp;
          span#user= user
        | &nbsp;is listening to
      a#songLink(href='', target='_blank')
        img#cover
      h1#title
      h2#artist
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.0.1/color-thief.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.1.1/chroma.min.js')
    script(src='/now/static/javascripts/now.js')

