extends template/layout

block otherStylesheets
  link(href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css', rel='stylesheet', integrity='sha256-KcCcakqMaamBrTFaxb9tkrP2iq1X8vUnsm86W8pRcgI=', crossorigin='anonymous')
  link(href='/now/app/static/stylesheets/now.css', rel='stylesheet')

block content
  .background.blur
  .container
    .row.top
      .corner.left
        .datetime.hide
          h2.date
          h1.time
      .corner.right
        .weather.hide
          h2.summary
          h1.conditions
            i.icon
            | &nbsp;
            span.temperature
            | &deg;
            span.unit
            | &nbsp;
            span.apparent
              | Feels like&nbsp;
              span.apparentTemperature
              | &deg;
              span.unit
    .row.bottom
      .corner.left
        .help.code
          .links
            a(href='/now/app/config')
              | settings 
              i.fas.fa-sliders-h.fa-sm
            a(href='https://github.com/JasonPuglisi/descent' target='_blank')
              | source 
              i.fab.fa-github.fa-sm
          .menuItem
            a(href='#' onclick='processKey({ keyCode: 87 }); return false;')
              i.fas.fa-sun.fa-sm.fa-fw
              |  [w]eather
          .menuItem
            a(href='#' onclick='processKey({ keyCode: 84 }); return false;')
              i.fas.fa-clock.fa-sm.fa-fw
              |  [t]ime and date
          .menuItem
            a(href='#' onclick='processKey({ keyCode: 69 }); return false;')
              i.fas.fa-sticky-note.fa-sm.fa-fw
              |  [e]xtended info
          .menuItem
            span.hueHelp.hide
              a(href='#' onclick='processKey({ keyCode: 76 }); return false;')
                i.fas.fa-lightbulb.fa-sm.fa-fw
                |  [l]ights (
                span.hueIndicator off
                | )
          .menuItem
            a(href='#' onclick='processKey({ keyCode: 72 }); return false;')
              i.fas.fa-question.fa-sm.fa-fw
              |  [h]elp
      .corner.right
        .music
          h2.userLine.hide
            p.scrobbles.hide
              b
                span.scrobbleCount
              |  scrobbles
            a.userLink(href=`http://last.fm/user/${user}`, target='_blank')
              i.fab.fa-lastfm
              | &nbsp;
              span.user= user
            | &nbsp;is listening to
          a.songLink(href='', target='_blank')
            img.cover
          h1.title
          h2.artist

block otherJavascripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.min.js', integrity='sha256-T9XG3F+oZW3IIEb54MXz9Sgmx73NELSCQxndaWN9AI0=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js', integrity='sha256-gX8uuyxN8stSMHWO9arnnKyenTOALaVAcVB3b6P87e4=', crossorigin='anonymous')
  script(src='/now/app/static/javascripts/utility/general.js')
  script(src='/now/app/static/javascripts/utility/hue.js')
  script(src='/now/app/static/javascripts/utility/images.js')
  script(src='/now/app/static/javascripts/utility/menu.js')
  script(src='/now/app/static/javascripts/utility/metadata.js')
  script(src='/now/app/static/javascripts/utility/time.js')
  script(src='/now/app/static/javascripts/utility/weather.js')
  script(src='/now/app/static/javascripts/now.js')
