doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='/now/static/stylesheets/style.css', rel='stylesheet')
    link(href='/now/static/favicon.ico', rel='icon')
  body
    #background
    #mask
    #help
      | [f] forecast<br>[e] extended info<br>[h] help
    #weather.hide
      h2#summary
      h1#conditions
        i#icon
        | &nbsp;
        span#temperature
        | &deg;
        span.unit
        | &nbsp;/ Feels like&nbsp;
        span#apparentTemperature
        | &deg;
        span.unit
    #music
      h2#userLine.hide
        a#songLink(href='', target='_blank').hide
          i(class='fa fa-lastfm')
        | &nbsp;
        a#userLink(href='http://last.fm/user/#{user}', target='_blank')
          span#user #{user}
        | &nbsp; is listening to
      img#cover
      h1#title
      h2#artist
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.js')
    script(src='/now/static/javascripts/now.js')

