.select-group {
  cursor: pointer;
  display: inline-block;
  margin: 5px 10px 5px 0;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  border-color: #f6f5f7;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-group:hover, .select-group:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.select-group.selected {
  background-color: #e0d5ff;
  color: #212121;
}

.select-groups-loading {
  margin: 5px 0 5px 0;
}

#defaultBackgroundInputGroup {
  padding-left: 0.5em;
}
