@import 'https://fonts.googleapis.com/css?family=Open+Sans:300|Source+Code+Pro:400';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css';

body {
  background-color: #212121;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #f6f5f7;
}

body, h1, h2, input {
  font-weight: 300;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

a:not(#songLink) {
  text-decoration: none;
  color: #f6f5f7;
  opacity: .8;

  transition: opacity .2s linear;
}

a:not(#songLink):hover {
  text-decoration: none;
  opacity: 1;
}

.hide {
  display: none;
}

.code {
  font-family: 'Source Code Pro', monospace;
}

.nowrap {
  white-space: nowrap;
}

.container {
  margin: 2em;
}

input[type=text] {
  background-color: transparent;
  border-style: none none solid none;
  border-width: 1px;
  border-radius: 0;
  border-color: #f6f5f7;
  font-size: 1em;
  color: #f6f5f7;
}

#container {
  position: fixed;
  left: 50%;
  top: 50%;
  text-align: center;

  transform: translate(-50%, -80%);
}

#hueContainer {
  position: fixed;
}

#container #username {
  background-color: transparent;
  border-style: none none solid none;
  border-width: 1px;
  border-radius: 0;
  border-color: #f6f5f7;
  font-size: 1em;
  color: #f6f5f7;
}

#container #userInput #userInputGroup {
  white-space: nowrap;
}

#background {
  position: fixed;
  left: -10%;
  top: -10%;
  width: 120%;
  height: 120%;
  background-color: #212121;
  background-size: cover;
  background-position: center;

  filter: blur(15px);
  transition: background-image .6s linear;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .65;
}

#help, #music, #weather {
  position: absolute;
}

#help {
  left: 3em;
  padding-right: 3em;
  font-family: 'Source Code Pro', monospace;
}

#credits {
  padding-left: .2em;
}

#music, #weather {
  right: 3em;
  padding-left: 3em;
  text-align: right;
}

#help, #music {
  bottom: 2em;
}

#weather {
  top: 2em;
}

#apparent {
  font-size: 0.75em;
  color: #d7d7d7;
}

#music #title, #weather #summary {
  margin: 0;
}

#music #artist, #weather #conditions  {
  margin: .2em 0 0 0;
}

#music #title, #music #artist {
  transition: color .25s linear;
}

#music #cover {
  margin-bottom: 1em;
  width: 15vw;
}

@media (max-width: 1080px) {
  #music #cover {
    width: 22vw;
  }
}

@media (max-width: 720px) {
  #music #cover {
    width: 29vw;
  }
}

@media (max-width: 480px) {
  #music #cover {
    width: 36vw;
  }
}

::selection {
  background: #e0d5ff;
}
::-moz-selection {
  background: #e0d5ff;
}

