mixin googleFonts
  link(href='https://fonts.googleapis.com' rel='preconnect')
  link(href='https://fonts.gstatic.com' rel='preconnect' crossorigin)
  link(href='https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans:wght@300;400&family=Oswald:wght@700&family=Source+Code+Pro&display=swap', rel='stylesheet')

mixin fontAwesome
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', rel='stylesheet', integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin='anonymous', referrerpolicy='no-referrer')

mixin jquery
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js', integrity='sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==', crossorigin='anonymous', referrerpolicy='no-referrer')

mixin jsCookie
  script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js', integrity='sha512-nlp9/l96/EpjYBx7EP7pGASVXNe80hGhYAUrjeXnu/fyF5Py0/RXav4BBNs7n5Hx1WFhOEOWSAVjGeC3oKxDVQ==', crossorigin='anonymous', referrerpolicy='no-referrer')

mixin weatherIcons
  link(href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css', rel='stylesheet', integrity='sha512-r/Gan7PMSRovDus++vDS2Ayutc/cSdl268u047n4z+k7GYuR7Hiw71FsT3QQxdKJBVHYttOJ6IGLnlM9IoMToQ==', crossorigin='anonymous', referrerpolicy='no-referrer')

mixin colorThief
  script(src='https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.4.0/color-thief.min.js', integrity='sha512-r2yd2GP87iHAsf2K+ARvu01VtR7Bs04la0geDLbFlB/38AruUbA5qfmtXwXx6FZBQGJRogiPtEqtfk/fnQfaYA==', crossorigin='anonymous', referrerpolicy='no-referrer')

mixin chroma
  script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js', integrity='sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==', crossorigin='anonymous', referrerpolicy='no-referrer')
