mixin googleFonts
  link(href='https://fonts.googleapis.com' rel='preconnect')
  link(href='https://fonts.gstatic.com' rel='preconnect' crossorigin)
  link(href='https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans:wght@300..400&family=Oswald:wght@700&family=Source+Code+Pro&display=swap', rel='stylesheet')

mixin fontAwesome
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css', rel='stylesheet', integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==', crossorigin='anonymous', referrerpolicy='no-referrer')

mixin jquery
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js', integrity='sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==', crossorigin='anonymous', referrerpolicy='no-referrer')

mixin jsCookie
  script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js', integrity='sha512-nlp9/l96/EpjYBx7EP7pGASVXNe80hGhYAUrjeXnu/fyF5Py0/RXav4BBNs7n5Hx1WFhOEOWSAVjGeC3oKxDVQ==', crossorigin='anonymous', referrerpolicy='no-referrer')

mixin weatherIcons
  link(href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css', rel='stylesheet', integrity='sha512-r/Gan7PMSRovDus++vDS2Ayutc/cSdl268u047n4z+k7GYuR7Hiw71FsT3QQxdKJBVHYttOJ6IGLnlM9IoMToQ==', crossorigin='anonymous', referrerpolicy='no-referrer')

mixin colorThief
  script(src='https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.6.0/color-thief.min.js', integrity='sha512-Qsp00gBIzIqLPECogMy5bQ6uOsMig9lc37A8qEHMvSze65UK21DHONbfSTY09zE9V8C0tQN+ldPU6w0wlBSfcA==', crossorigin='anonymous', referrerpolicy='no-referrer')

mixin chroma
  script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js', integrity='sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==', crossorigin='anonymous', referrerpolicy='no-referrer')
