mixin googleFonts
  link(href='https://fonts.googleapis.com' rel='preconnect')
  link(href='https://fonts.gstatic.com' rel='preconnect' crossorigin)
  link(href='https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans:wght@300;400&family=Oswald:wght@700&family=Source+Code+Pro&display=swap', rel='stylesheet')

mixin fontAwesome
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css', rel='stylesheet', integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==', crossorigin='anonymous')

mixin jquery
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js', integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==', crossorigin='anonymous')

mixin jsCookie
  script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js', integrity='sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==', crossorigin='anonymous')

mixin weatherIcons
  link(href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css', rel='stylesheet', integrity='sha512-r/Gan7PMSRovDus++vDS2Ayutc/cSdl268u047n4z+k7GYuR7Hiw71FsT3QQxdKJBVHYttOJ6IGLnlM9IoMToQ==', crossorigin='anonymous')

mixin colorThief
  script(src='https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.min.js', integrity='sha512-mMe7BAZPOkGbq+zhRBMNV3Q+5ZDzcUEOJoUYXbHpEcODkDBYbttaW7P108jX66AQgwgsAjvlP4Ayb/XLJZfmsg==', crossorigin='anonymous')

mixin chroma
  script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.2/chroma.min.js', integrity='sha512-8TVPS0EFkkmtT6yPb5K4csnSt3tjbKRrs0F8gvTNKv2OxOcwDO7+Klkz86gMVrzfqtZos5N2a+k+r9D+hlccmQ==', crossorigin='anonymous')