mixin googleFonts
  link(href='https://fonts.googleapis.com' rel='preconnect')
  link(href='https://fonts.gstatic.com' rel='preconnect' crossorigin)
  link(href='https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans:wght@300;400&family=Oswald:wght@700&family=Source+Code+Pro&display=swap', rel='stylesheet')

mixin fontAwesome
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css', rel='stylesheet', integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==', crossorigin='anonymous')

mixin jquery
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js', integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==', crossorigin='anonymous')

mixin jsCookie
  script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js', integrity='sha512-wT7uPE7tOP6w4o28u1DN775jYjHQApdBnib5Pho4RB0Pgd9y7eSkAV1BTqQydupYDB9GBhTcQQzyNMPMV3cAew==', crossorigin='anonymous')

mixin weatherIcons
  link(href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css', rel='stylesheet', integrity='sha512-r/Gan7PMSRovDus++vDS2Ayutc/cSdl268u047n4z+k7GYuR7Hiw71FsT3QQxdKJBVHYttOJ6IGLnlM9IoMToQ==', crossorigin='anonymous')

mixin colorThief
  script(src='https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.min.js', integrity='sha512-mMe7BAZPOkGbq+zhRBMNV3Q+5ZDzcUEOJoUYXbHpEcODkDBYbttaW7P108jX66AQgwgsAjvlP4Ayb/XLJZfmsg==', crossorigin='anonymous')

mixin chroma
  script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js', integrity='sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==', crossorigin='anonymous')
