doctype html
html(lang='en')
  head
    block pageMetadata
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='mobile-web-app-capable', content='yes')
      title= title
      meta(name='description', content='Descent is an elegant now playing display for Last.fm showing song metadata and local weather.')
    block faviconAssets
      link(href='/now/app/static/images/icons/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
      link(href='/now/app/static/images/icons/favicon-32x32.png', rel='icon', type='image/png', sizes='32x32')
      link(href='/now/app/static/images/icons/favicon-16x16.png', rel='icon', type='image/png', sizes='16x16')
      link(href='/now/app/static/images/icons/site.webmanifest', rel='manifest')
      link(href='/now/app/static/images/icons/safari-pinned-tab.svg', rel='mask-icon', color='#5bbad5')
      link(href='/now/app/static/images/icons/favicon.ico', rel='shortcut icon')
      meta(name='apple-mobile-web-app-title', content='Descent')
      meta(name='application-name', content='Descent')
      meta(name='msapplication-TileColor', content='#35384a')
      meta(name='msapplication-config', content='/now/app/static/images/icons/browserconfig.xml')
      meta(name='theme-color', content='#ffffff')
    block defaultStylesheets
      link(href='https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans:wght@300;400&family=Oswald:wght@700&family=Source+Code+Pro&display=swap', rel='stylesheet')
      link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css', rel='stylesheet', integrity='sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=', crossorigin='anonymous')
    block otherStylesheets
  body
    block content
    block defaultJavascripts
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js', integrity='sha256-oE03O+I6Pzff4fiMqwEGHbdfcW7a3GRRxlL+U49L5sA=', crossorigin='anonymous')
    block otherJavascripts
