include external

doctype html
html(lang='en')
  head
    block pageMetadata
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='mobile-web-app-capable', content='yes')
      title= title
      meta(name='description', content='Descent is an elegant now playing display for Last.fm showing song metadata and local weather.')
    block faviconAssets
      link(href='/app/static/images/icons/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
      link(href='/app/static/images/icons/favicon-32x32.png', rel='icon', type='image/png', sizes='32x32')
      link(href='/app/static/images/icons/favicon-16x16.png', rel='icon', type='image/png', sizes='16x16')
      link(href='/app/static/images/icons/site.webmanifest', rel='manifest')
      link(href='/app/static/images/icons/safari-pinned-tab.svg', rel='mask-icon', color='#5bbad5')
      link(href='/app/static/images/icons/favicon.ico', rel='shortcut icon')
      meta(name='apple-mobile-web-app-title', content='Descent')
      meta(name='application-name', content='Descent')
      meta(name='msapplication-TileColor', content='#35384a')
      meta(name='msapplication-config', content='/app/static/images/icons/browserconfig.xml')
      meta(name='theme-color', content='#ffffff')
    block defaultStylesheets
      +googleFonts
      +fontAwesome
    block otherStylesheets
  body
    block content
    block defaultJavascripts
      +jquery
      +jsCookie
    block otherJavascripts
